.parent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 100px;
  text-align: center;
  font-size: 30px;
  margin: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.div1 {
  grid-row: span 2 / span 2;
  background-color: aqua;
  box-shadow: 12px 16px 31px 5px rgba(0, 0, 0, 0.75);
  transition-duration: 0.6s;
  width: 400px;
  height: auto;
  background-image: url(https://images.unsplash.com/photo-1574607383077-47ddc2dc51c4?q=80&w=2672&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
.div1:hover {
  transform: scale(1.2);
  opacity: 1;
}

.div2 {
  grid-row: span 2 / span 2;
  background-color: aqua;
  box-shadow: 12px 16px 31px 5px rgba(0, 0, 0, 0.75);
  transition-duration: 0.6s;
  width: 400px;
  height: auto;
  background-image: url();
}
.div2:hover {
  transform: scale(1.2);
  opacity: 1;
}

.div3 {
  grid-row: span 2 / span 2;
  background-color: aqua;
  box-shadow: 12px 16px 31px 5px rgba(0, 0, 0, 0.75);
  transition-duration: 0.6s;
  width: 400px;
  height: auto;
}
.div3:hover {
  transform: scale(1.2);
  opacity: 1;
}
