.nav-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  position: relative;
  top: 10px;
  transition-duration: 1s;
}

li {
  list-style: none;
  padding: 30px;
}
a:hover {
  color: rgb(3, 69, 100);
}
.links {
  display: flex;
}
