@media screen and (max-width: 768px) {
  .roles-container {
    font-size: 100px;
    padding-left: 20px;
  }
  .judul {
    margin: 50px;
    font-size: 50px;
  }
  .perkenalan {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
  }
  .photo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @keyframes role-change {
    10% {
      transform: translateY(-0%);
    }
    20% {
      transform: translateY(-100%);
    }
    30% {
      transform: translateY(-200%);
    }
    40% {
      transform: translateY(-295%);
    }
    50% {
      transform: translateY(-400%);
    }
    60% {
      transform: translateY(-510%);
    }
    70% {
      transform: translateY(-590%);
    }
    80% {
      transform: translateY(-700%);
    }
    90% {
      transform: translateY(-800%);
    }

    100% {
      transform: translateY(-805%);
    }
  }
}
