.photo {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding: 20px;
}
.identity {
  width: 60%;
  padding: 20px;
}

.Copyright {
  display: flex;
  justify-content: space-evenly;
}

.logobundle {
  display: flex;
  justify-content: center;
}
